* {
   margin: 0;
   box-sizing: border-box;
   padding: 0;
}

body {
   overflow-x: hidden;
   background-color: var(--body-backgroundcolor);
}

html {
   scroll-behavior: smooth;

   --first-color: #E61414;
   --back-ground-color: #EEEEEE;
   --nav-color: white;
   --black-to-white: black;
   --white-to-black: white;
   --title-color: RGB(55, 55, 63);
   --body-backgroundcolor: transparent;
}

.dark-theme {
   --first-color: #D78C23;
   --back-ground-color: #252525;
   --nav-color: #171717;
   --black-to-white: white;
   --white-to-black: black;
   --title-color: white;
   --body-backgroundcolor: #202020;

}

.navbar {
   background-color: var(--nav-color);
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   box-shadow: 1px 0 10px rgb(75, 75, 75);
   z-index: 99999999999;
}

.navbar .continer {
   width: 85%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
}

.fix-navbar-area {
   height: 80px;
}

.navbar .continer .logo {
   color: var(--black-to-white);
   font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Sege UI Symbol", "Noto Color Emoji";
   font-size: 30px;
   font-weight: 900;
   position: relative;
}

.navbar .continer .logo::after {
   content: ".";
   font-size: 40px;
   position: absolute;
   left: 100%;
   bottom: 0;
   color: var(--first-color);
}

.links {
   width: 30%;
}

ul {
   list-style: none;
}

.navbar .continer .links ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar .continer .links ul li {
   display: inline-block;
   padding-bottom: 10px;
   font-family: "Open Sans" system-ui -apple-syste "Segoe UI" Roboto"Helvetica Neue" Arial;
   position: relative;
   overflow: hidden;
}
.navbar .continer .links ul li::after {
   content: "";
   width: 100%;
   height: 2px;
   background-color: var(--first-color);
   position: absolute;
   bottom: 0;
   left: 0;
   transform: translate(-100%);
   transition: all 0.5s;
}

.navbar .continer .links ul li a {
   text-decoration: none;
   color: rgb(143, 143, 158);
   font-size: 17px;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
}

 #list-after:hover::after {
   transform: translate(0);
}
.navbar .continer .links ul li:hover a {
   color: var(--black-to-white);
}

.home-section {
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: var(--back-ground-color);
}
.home-content-continer {
   margin: auto;
   width: 85%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.home-content {
   width: 40%;
}
.home-imge {
   width: 45%;
}

.home-imge img {
   width: 100%;
   margin-top: 50px;
}

.home-content h1 {
   font-family: "Amatic SC", sans-serif;
   font-size: 65px;
   font-weight: 700;
   color: var(--title-color);
}

.home-content p {
   font-size: 16px;
   color: RGB(79, 79, 90);
   line-height: 25.6px;
   margin: 20px 0px;
   font-weight: 400;
   font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bottoms {
   display: flex;
   flex-wrap: wrap;
}

.bt2 {
   margin-left: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   font-size: 15px;
   border: none;
   margin-left: 50px;
   background-color: transparent;
   color: var(--black-to-white);
}

.bt2:hover i {
   color: var(--first-color);
}

.bt2:hover {
   color: var(--first-color);
}

.bt1 {
   background-color: var(--first-color);
   color: #EEEEEE;
   margin-left: 25px;
   padding: 10px 25px;
   text-align: center;
   font-size: 15px;
   border: none;
   height: 50px;
   font-weight: 600;
   position: relative;
}

.bt1::after {
   content: " ";
   width: 50px;
   height: 50px;
   border-radius: 50%;
   position: absolute;
   background-color: var(--first-color);
   right: 0;
   top: 0;
   transform: translateX(50%);
}

.bt1::before {
   content: " ";
   width: 50px;
   height: 50px;
   border-radius: 50%;
   position: absolute;
   background-color: var(--first-color);
   left: 0;
   top: 0;
   transform: translateX(-50%);
   border-top-left-radius: 0px;
}

@keyframes shake {
   0% {
      transform: translate(1px, 1px) rotate(0deg);
   }

   10% {
      transform: translate(-1px, -2px) rotate(-1deg);
   }

   20% {
      transform: translate(-3px, 0px) rotate(1deg);
   }

   30% {
      transform: translate(3px, 2px) rotate(0deg);
   }

   40% {
      transform: translate(1px, -1px) rotate(1deg);
   }

   50% {
      transform: translate(-1px, 2px) rotate(-1deg);
   }

   60% {
      transform: translate(-3px, 1px) rotate(0deg);
   }

   70% {
      transform: translate(3px, 1px) rotate(-1deg);
   }

   80% {
      transform: translate(-1px, -1px) rotate(1deg);
   }

   90% {
      transform: translate(1px, 2px) rotate(0deg);
   }

   100% {
      transform: translate(1px, -2px) rotate(-1deg);
   }
}

.home-imge img:hover {
   animation: shake 0.5s;
   animation-iteration-count: infinite;
}

::selection {
   background-color: var(--first-color);
   color: white;
}

.big-circle {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(to right, var(--first-color) 0% 50%, transparent 50% 100%);
   border-radius: 50%;
}

.small-circle {
   background-color: var(--nav-color);
   color: var(--black-to-white);
   width: 35px;
   height: 35px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

}

#chefs {
   margin: 50px 0px;
}

.continer {
   width: 85%;
   margin: auto;

}

.header {
   text-align: center;
}

.chefs-profelios {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 60px 0px;
   flex-wrap: wrap;
}

.chef-profelio {
   width: 32%;
   box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
   transition: all 0.25s;
   overflow: hidden;
   text-align: center;
   background-color: var(--nav-color);
}
.chef-profelio img {
   width: 100%;
}

.chef-profelio:hover {
   transform: scale(1.1);
}

.header p {
   color: #7F7F90;
   font-family: Inter sans-serif sans-serif;
   font-size: 14px;
   font-weight: 400;
}

.header h2 {
   font-family: "Amatic SC", sans-serif;
   font-size: 50px;
   font-weight: 400;
   color: var(--black-to-white);
}

.header span {
   color: var(--first-color);
}

.chef-profelio .text {
   font-family: Open Sans;
   font-size: 15px;
   font-weight: 400;
   font-style: italic;
   color: rgb(143, 143, 158);
   padding: 5px 7px 20px 7px;
}

.chef-profelio .text p {
   margin-top: 5px;
}

.chefs-profelios .chef-profelio h3 {
   color: var(--black-to-white);
   font-size: 18.72px;
   font-family: Inter sans-serif;
   font-weight: 700;
   margin-bottom: 5px;
}

.chef-img {
   position: relative;
}

.chef-img::after {}

#search {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: rgba(0, 0, 0, 0.1);
   padding: 5px;
   border-radius: 5%;
   transform: translate(115%);
   transition: all 0.5s 0.25s;
   padding: 10px;
}


.chef-profelio:hover #search {
   transform: translate(0);
}

.websites-icon li {
   margin: 7px;
}

.websites-icon {
   position: absolute;
   top: 55px;
   right: 10px;
   background-color: rgba(0, 0, 0, 0.1);
   padding: 5px;
   border-radius: 5%;
   transform: translate(115%);
   transition: all 1s 0.5s;
}

.chef-profelio:hover .websites-icon {
   transform: translate(0);
}

.chefs-profelios i:hover {
   color: var(--first-color);
}

.points-icon {
   position: absolute;
   top: 10px;
   right: 60px;
   transform: translate(240%);
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 5%;
   transition: all 3s;
   /*transition-property: all s;*/
   /* transition-duration: 10s; */
   /* transition-delay:  10s ;  */
   /* transition-timing-function : 10s ; */
}

#search:hover+.points-icon {
   transform: translate(0px);
}

.gallery {
   background-color: var(--back-ground-color);
   padding-bottom: 50px;
}

.photos {
   margin: 50px 0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.photos .column {
   width: 33%;
   height: fit-content;
}

.column .img:nth-child(2) {
   margin-top: 10px;
}
.column .img:nth-child(3) {
   margin-top: 10px;
}
.photos .img {
   width: 100%;
   border: 5px white solid;
   position: relative;
   height: fit-content;
   overflow: hidden;
}
.photos .img:hover .layer {
   transform: translate(0);
}
.photos .img img {
   width: 100%;
   transition: all 0.5s;
}
.photos .img:hover img {
   transform: scale(1.1);
}
.photos .img .layer {
   text-align: center;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   flex-wrap: wrap;
   transform: translateY(100%);
   transition: all 1s;
}
.map iframe {
   margin: 20px 0px;
   width: 100%;
   height: 350px;
   border: 0;
}

.data {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 20px;
}

.addres {
   --back-ground-color: #EEEEEE;
   display: flex;
   justify-content: left;
   align-items: center;
   height: 60px;
   background-color: var(--body-backgroundcolor);
   box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);

}

.addres .icon {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: 1px solid white;
   color: white;
   background-color: var(--first-color);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 15px;
}

.addres-data {
   margin-left: 10px;
   color: var(--black-to-white);
}

.addres-data h5 {
   text-align: left;
}

.addres .link {
   text-decoration: none;
   text-decoration-style: none;
}

.inputs {
   padding: 20px;
   margin: 50px 0px;
   box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
   background-color: var(--nav-color);
}

form {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

input,
textarea {
   width: 100%;
   margin: 7px 0;
   padding: 10px;
   border: #7F7F90 2px solid;
}

.name, .email {
   width: 48%;
   padding: 10px;
}

.bb:focus {
   border-color: var(--first-color);
   outline: none;
}

.inputs button {
   background-color: var(--first-color);
   color: #EEEEEE;
   padding: 10px 25px;
   text-align: center;
   font-size: 15px;
   border: none;
   height: 50px;
   font-weight: 600;
   position: relative;
   display: block;
   margin: 10px auto;
   border-radius: 25px;
}
.footer {
   padding: 35px 0px;
   background-image: url(../images/textured-metal-background.jpg);
   background-size: 100% 100%;
   line-height: 1.45;
}
.footer .continer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   color: white;
}

.footer .continer p {
   font-size: 18px;
   font-weight: 400;
   color: white;
}

.right-part {
   width: 30%;
}

.right-part img {
   text-align: left;
   width: 40px;
   height: 40px;
}

.right-part span {
   text-align: left;
   text-align: center;
   font-size: 31px;
   font-weight: 700;
   font-family: " open sans";
}

.footer-logo .logo {
   display: flex;
   justify-content: left;
   align-items: center;
}

.right-part h6 {
   text-align: center;
   border-bottom: 1px solid #EEEEEE;
   font-size: 21px;
   font-family: Inter, sans-serif;
   padding: 10px;
   font-weight: 700;
}

.footer-icons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 10px;
}

.center-part {
   width: 38%;
}

.center-part h5 {
   font-size: 21px;
   font-weight: 700;
}

.center-part div:nth-child(3) {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.center-part input {
   width: 75%;
   padding: 10px;
   display: inline-block;
}
.center-part button {
   width: 24%;
   color: white;
   display: inline-block;
   background-color: var(--first-color);
   padding: 10px;
}

.footer-icons a {
   margin-top: 7px;
   color: white;
   text-decoration: none;
}

.footer-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.footer-list div {
   width: 40%;
   margin: 5px;
   transition: all 0.5s;
}

.footer-list div:hover {
   transform: translate(20px);
   background-color: rgba(0, 0, 0, 0.3);
}

.left-part {
   width: 30%;
}

.left-part h5 {
   font-size: 21px;
   font-weight: 700;
}

.left-part li {
   margin: 20px 0px;
   font-size: 18px;
   font-weight: 400;
   color: white;
}

.left-part li i {
   color: var(--first-color);
   margin-right: 5px;
}

.left-part ul li a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   font-weight: 400;
}
.fa-bars {
   display:none;
   margin-left: 5px;
   color: var(--black-to-white);
}
.darkmode-barslist {
   display: flex;
   align-items: center;
   justify-content: center;
}
@media (max-width:767px) {
   .home-section{
      height: 110vh;
   }
   .home-content-continer {
      flex-direction: column;
      justify-content: right;
   
   }

   .home-content {
      width: 100%;
      text-align: center;
   }
   .home-imge {
      width: 80%;
      order: -1;
      /* margin-top: 60px; */
   }
   .home-content h1 {
      font-size: 40px;
      font-weight: 600;
   }
   .bottoms{
      flex-direction: column;
   }
   .bt2 {
      margin: 20px auto;
   }
   .bt1 {
      margin: auto;
   }
   #chefs{
      margin: 0px 0px;
   }
   .chef-profelio{
      width: 100%;
      margin: 12px 0px ;
   }
   .photos .column {
      width: 100%;
   }
   .data {
      display: flex;
      flex-wrap: wrap;
   }
   .addres {
      width: 100%;
      margin: 5px  0px ;
   }
   .name , .email{
      width: 100%;
   }
   .left-part {
      width: 100%;
   }
   .center-part {
      width: 100%;
      margin-top: 15px;
   }
   .right-part {
      width: 100%;
      margin-top: 5px;
   }
   .center-part input{
      width: 100%;
   }
   .center-part button{
      width: 70%;
      margin: auto;
      border-radius:  20px; ;
   }
   .fa-bars {
      display: inline;
      margin-left: 5px;
   }
   
   .navbar .continer .links ul{
      display: none;
   
   }

}

@media (min-width:767px) and (max-width:991px) {

   .bottoms{
      flex-direction: column;
   }
   .bt2 {
      margin: 20px auto;
   }
   .bt1 {
      margin: auto;
   }
   .chef-profelio{
      width: 48%;
      margin: 12px 0px ;
   }
   .photos .column {
      width: 49%;
   }
   .photos .column:first-child{
      order: 5;
   }
   .home-content{
      width: 55%;
   }
   .links {
      width: 60%;
   }
   


}

@media (min-width:992px) and (max-width:1043px) {
   .bottoms{
      flex-direction: column;
   }
   .bt2 {
      margin: 20px auto;
   }
   .bt1 {
      margin: auto;
   }
   .links {
      width: 40%;
   }

}

@media (min-width:1043px) and (max-width:1102px) {
   .home-content{
      width: 50%;
   }
   .bt1 {
      width: 80%;
      margin-bottom: 20px;
   }

   .bt2 {
      margin: 0 20px 0px 0px;
      width: 80%;
   }

   .links {
      width: 40%;
   }
}




